#accueil {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px 150px;
}

.image-accueil {
  width: 100%;
  height: 100vh;

  grid-column: 1 / 7;
  grid-row: 1 / 2;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3)50%, rgba(0, 0, 0, 0.3)50%), url(../image/vigne.png);
  background-size: cover;
  background-position: center;
  text-align: center;

  margin-bottom: 40px;
}

.image-accueil>a>img {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 280px;
}

.bouton-mobile {
    display: flex;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banniere-promo {
    width: 95%;
    height: auto;

    grid-column: 1 / 7;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../image/vins.jpg);
    background-size: cover;
    background-position: center;
    
    color: #fff;
    box-shadow: 4px 4px 4px #ccc;
}

/* BOUTONS */

.boutons-banniere2 {
    grid-column: 1 / 7;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
    height: auto;

    margin-top: 20px;

    
    /* border: 1px solid #ccc; */
}

.fill-button2 {
  position: relative;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  height:45px;
  border:1px solid #ccc;
  text-align:center;
  box-sizing:border-box;
  color:#fff;
  text-decoration:none;
  cursor: pointer;
  line-height:28px;
  font-family: 'arial';
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}
.fill-button2 > span {
  display:block;
  width: 100%;
}
.fill-button2 > .fill-button-hover:after, .fill-button2 > .fill-button-hover:before {
  position:absolute;
  top:0;
  opacity:0;
  display:block;
  content:"";
  width:0;
  height:45px;
}
.fill-button2 > .fill-button-hover:after {
  background-color:#35495e;
  transform:skewX(45deg);
  transform-origin:center center;
  transition:all .55s, opacity .4s;
  left:50%;
}
.fill-button2 .fill-button-hover:before {
  background-color:#42b883;
  transition:opacity 1s;
}

.fill-button2 .fill-button-text {
  z-index:1;
  position:relative;
  color:#000;
  transition:color .35s;
}
.fill-button2:hover .fill-button-text {
  color:#42b883;
}
.fill-button2 .fill-button-hover:hover:after {
  opacity:1;
  left:2%;
  width:95%;
  transform:skewX(45deg);
}
.fill-button2 > .fill-button-hover:hover:before {
  opacity: 1;
  left: 0;
  width:100%;
}

@media screen and (max-width: 1000px) {
  
  #accueil {
    grid-template-rows: 100vh 250px 200px;
  }

  .image-accueil {
    display: flex;
  }

  .banniere-promo {
    grid-row: 2 / 3;
  }

  .boutons-banniere2 {
    grid-row: 3 / 4;
    margin-bottom: 40px;
  }

}