                                        /* ----- IMPORTS ----- */

@import url('variables.css');
@import url('accueil.css');
@import url('produits.css');
@import url('productsMobile.css');

                                        /* ----- GENERAL ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--quicksand);
}

/* GRID 12 colonnes, 3 lignes */
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 80px 1fr auto;

    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration:none
}

                                        /* ----- HEADER ----- */

header {
    position: relative;

    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.img-mobile {
    display: none;
}

                                        /* ----- BANNIERE ----- */

.banniere {
    position: relative;

    width: 100%;
    height: 100%;

    background: linear-gradient(45deg, rgba(0, 0, 0, 0.3)50%, rgba(0, 0, 0, 0.3)50%), url(../image/vigne.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banniere>h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;

    font-family: var(--york);
    color: #fff;
}

.banniere>a>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    left: 150px;
}

.boutons-banniere {
    position: absolute;
    bottom: 10px;
    right: 20px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: auto;
    height: 50px;

    /* border: 1px solid #fff; */
}

.bouton-connexion {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 40px;

    color: #fff;
    background: transparent;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;

    border: 1px solid #fff;
    border-radius: 5px;
}

.panier {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 40px;

    color: #fff;
    background: transparent;
    padding: 10px;
    text-decoration: none;
    
    border: 1px solid #fff;
    border-radius: 5px;
}

.panier>i {
    font-size: 2rem;
}

.logo-panier {
    position: relative;
}

.count-product {
    position: absolute;
    top: -10px;
    right: -13px;
    background-color: var(--green);
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
}

                                        /* ----- BOUTONS ----- */

.fill-button {
  position: relative;
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width:156px;
  height:45px;
  border:1px solid #fff;
  text-align:center;
  box-sizing:border-box;
  color:#fff;
  text-decoration:none;
  cursor: pointer;
  line-height:28px;
  font-family: 'arial';
  border-radius: 4px;
  margin: 10px;
}
.fill-button > span {
  display:block;
  width: 100%;
}
.fill-button > .fill-button-hover:after, .fill-button > .fill-button-hover:before {
  position:absolute;
  top:0;
  opacity:0;
  display:block;
  content:"";
  width:0;
  height:45px;
}
.fill-button > .fill-button-hover:after {
  background-color:#35495e;
  transform:skewX(45deg);
  transform-origin:center center;
  transition:all .55s, opacity .4s;
  left:50%;
}
.fill-button .fill-button-hover:before {
  background-color:#42b883;
  transition:opacity 1s;
}

.fill-button .fill-button-text {
  z-index:1;
  position:relative;
  color:#fff;
  transition:color .35s;
}
.fill-button:hover .fill-button-text {
  color:#42b883;
}
.fill-button .fill-button-hover:hover:after {
  opacity:1;
  left:2%;
  width:95%;
  transform:skewX(45deg);
}
.fill-button > .fill-button-hover:hover:before {
  opacity: 1;
  left: 0;
  width:100%;
}

.bouton-mobile {
    display: none;
}

.nav-mobile {
    display: none;
}

.Button38 {
    padding: 15px 37px;
    font-family: var(--quicksand);
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--green);
    background-color:var(--raisin);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.Button38:hover {
    background-color: #42b883;
    box-shadow: 0px 15px 20px #35495e;
    color:#35495e;
    transform: translateY(-7px);
}

.Button29 {
    color: #35495e;
    border: 2px solid #35495e(216, 2, 134);
    border-radius: 0px;
    padding: 9px 37px;
    display: inline-block;
    font-family: var(--quicksand);
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--raisin);
    border-radius: 45px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    background-color: var(--green);
  }
  
  .slide_inside:hover {
    box-shadow: inset 0 0 0 50px var(--raisin);
    color : var(--green);
  }

 
.radio-toolbar input[type="radio"] {
    display: none;
    
    
}
.radio-toolbar label {
    display: inline-block;
    background-color: var(--green);
    padding: 8px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 45px;
    margin : 10px;
}
.radio-toolbar input[type="radio"]:checked + label {
    background-color: var(--raisin);
    color : var(--green);
}
  
                                        /* ----- NAV ----- */

nav {
    position: sticky;
    top: 0;

    grid-column: 1 / 13;
    grid-row: 2 / 3;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--raisin);
    /* z-index: 50; */
}

                                        /* ----- LISTE DES PRODUITS ----- */

.produits {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    margin: 20px;
}

.produits>a {
    text-decoration: none;
    color: rgba(66, 184, 131, 0.7);
    font-size: 1.3rem;
}

.produits>a:hover {
    color: rgba(76, 194, 141, 1);
}

@-moz-document url-prefix() {
  .produits>a:hover {
    font-weight: normal;
  }
}

                                        /* ----- MENU PRODUIT ----- */

.produit {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-35%);

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 250px;
    height: 350px;

    transition-duration: 3s;
    background-color: #fff;
    padding: 20px 40px;
    z-index:25;
    box-shadow: 4px 4px 4px #000;

    border-radius: 5px;
    overflow-y: scroll;
    -webkit-scrollbar-color: var(--raisin);
    -webkit-scrollbar-width: thin;
    scrollbar-color: var(--raisin);
    scrollbar-width: thin;
}

.produit::-webkit-scrollbar {
    background-color: var(--green);
    width: 5px;
    border-radius: 0 5px 5px 0;
}

.produit::-webkit-scrollbar-thumb {
    background: var(--raisin);
}

                                        /* ----- PRODUIT TITRE ----- */

.produit>h3 {
    margin-bottom: 10px;
    color: #fff;
}

                                        /* ----- PRODUIT LISTE ----- */

.produit>ul {
    margin-bottom: 20px;
}

.produit>ul>li {
    list-style-type: none;
}

.produit>ul>li>a {
    text-decoration: none;
    color: #fff;
}

.produit>ul>li>a:hover {
    color: #fff;
    font-weight: bold;
}

.produit>a {
    text-decoration: none;
    color: #fff;
}

.produit>a:hover {
    font-weight: bold;
}

.produits:hover .produit {
    display: flex;
    transition-duration: 3s;
}

                                        /* ----- COULEURS MENU DEROULANT PRODUIT ----- */

.menu-deroulant {
    background-color: var(--green);
}

                                        /* ----- RECHERCHE ----- */

.recherche {
    position: absolute;
    left: 0px;
    bottom: -40px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 40px;

    /* border: 1px solid #ccc; */
}

.recherche>input {
    outline: none;
    padding: 5px;

    box-shadow: 4px 4px 4px #ccc;

    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.recherche>button {
    background-color: var(--green);
    color: #fff;

    box-shadow: 4px 4px 4px #ccc;
    padding: 5px;

    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

                                        /* ----- MAIN ----- */

main {
    grid-column: 1 / 13;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
    z-index: -1;
}

/* .essai {
    width: 75%;
    height: 800px;
    border: 1px solid #ccc;
} */

                                        /* ----- FOOTER ----- */

footer {
    grid-column: 1 / 13;
    grid-row: 4 / 5;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--raisin);
    padding: 10px;
}

.footer1 {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer1>a {
    text-decoration: none;
    color: rgba(66, 184, 131, 0.7);
    margin: 10px;
}

.footer1>a:hover {
    color: rgba(76, 194, 141, 1);
}

.footer2 {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    color: var(--green);
}

.footer3 {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer3>i {
    font-size: 1.8em;
    margin: 10px;
    color: var(--green);
}



                                        /* ----- FORM LOGIN ----- */
                    
                   
                    
.login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    color: #35495e;
    
}
.log-connex { 
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.connexion { 
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}
.log-inscri { 
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.inscription { 
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
} 

.login h2{
    font-size: 20px;
}


    

                        /*-----FORM CONNEXION-----*/

.loginConnex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}


.titreConnex {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    
}

.titre-email-connex{
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.email-connex{
    grid-area: 3 / 1 / 4 / 3;
}

.titre-passwd-connex {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.passwd-connex {
    grid-area: 5 / 1 / 6 / 3;
}


.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.connex {
    grid-area: 6 / 2 / 7 / 3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
}

.connex-return {
    grid-area: 6 / 1 / 7 / 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;
}


.loginForget h1, .loginInscri h1, .loginConnex h1{
    color: #35495e;
    font-size : 30px;
}

.loginForget h2, .loginInscri h2, .loginConnex h2{
    color :#35495e;
    font-size: 20px;
}

                                        /* ----- FORM INSCRIPTION -----*/
.loginInscri {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    text-align: center;
    }
    
.titreInsc { 
    grid-area: 1 / 1 / 2 / 5; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titre-firstname-inscri { 
    grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.firstname-inscri { 
    grid-area: 3 / 1 / 4 / 2; 
}
.titre-lastname-inscri { 
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.lastname-inscri { 
    grid-area: 3 / 2 / 4 / 3; 
}
.titre-phone-inscri { 
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.phone-inscri { 
    grid-area: 3 / 3 / 4 / 4; 
}
.titre-date-inscri { 
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.date-inscri { 
    grid-area: 3 / 4 / 4 / 5; 
}
.titre-email-inscri { 
    grid-area: 4 / 1 / 5 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.email-inscri { 
    grid-area: 5 / 1 / 6 / 5; 
}
.titre-passwd-inscri { 
    grid-area: 6 / 1 / 7 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.passwd-inscri { 
    grid-area: 7 / 1 / 8 / 3; 
}
.titre-passwd2-inscri { 
    grid-area: 6 / 3 / 7 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.passwd2-inscri { 
    grid-area: 7 / 3 / 8 / 5; 
}
.titre-addressStreet-inscri { 
    grid-area: 8 / 1 / 9 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.addressStreet-inscri { 
    grid-area: 9 / 1 / 10 / 5; 
}
.titre-addressZip-inscri { 
    grid-area: 10 / 1 / 11 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.addressZip-inscri { 
    grid-area: 11 / 1 / 12 / 3; 
}
.titre-addressCity-inscri { 
    grid-area: 10 / 3 / 11 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.addressCity-inscri { 
    grid-area: 11 / 3 / 12 / 5; 
}
#passVerif-inscri{
    grid-area: 12 / 1 / 13 / 5;
    display: flex;
    justify-content: center;
    align-items : center;
}

.inscri-return { 
    grid-area: 13 / 1 / 14 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.inscri { 
    grid-area: 13 / 3 / 14 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
                                        /* ----- FORM FORGET ----- */
.loginForget {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}
    
.titreForget { 
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.titre-forget-mail { 
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;  
}
.forget-mail { 
    grid-area: 3 / 1 / 4 / 3; 
}
.forget-return { 
    grid-area: 4 / 1 / 5 / 2; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.forget { 
    grid-area: 4 / 2 / 5 / 3; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
                                        /* ----- FORM RECOVERY ----- */
.loginRecovery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    color: #35495e;
    text-align: center;
    }
    
    .titreRecovery { 
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .titre-email-recovery { 
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .email-recovery { 
        grid-area: 3 / 1 / 4 / 3;
     }
    .titre-passwd-recovery { 
        grid-area: 4 / 1 / 5 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end; 
    }
    .passwd-recovery { 
        grid-area: 5 / 1 / 6 / 2;
     }
    .titre-passwd2-recovery { 
        grid-area: 4 / 2 / 5 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .passwd2-recovery { 
        grid-area: 5 / 2 / 6 / 3;
     }
    #passVerif-recovery { 
        grid-area: 6 / 1 / 7 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .recovery { 
        grid-area: 7 / 1 / 8 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
     .loginRecovery h3 {
         font-size: 15px;
     }

                                        /* ----- HOME CUSTOMER -----*/
.homeCustomer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 70px;
    color: #35495e;
    text-align: center;
    }
    
    .titre-home { 
        grid-area: 1 / 1 / 2 / 4; 
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
    }
    .modif-home-customer { 
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        justify-content: center;
        align-items: center; 

    }
    .commande-home-customer { 
        grid-area: 2 / 2 / 3 / 3; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .historical-home-customer { 
        grid-area: 2 / 3 / 3 / 4; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .deco-home-customer { 
        grid-area: 3 / 2 / 4 / 3;
        display: flex;
        justify-content: center;
        align-items: flex-end; 
    }
                                        /* ----- FORM MODIF PROFILE CUSTOMER -----*/
.modif-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    color: #35495e;
    text-align: center;
    }
    
    .titre-lastname-modif { 
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .lastname-modif { 
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }
    .titre-firstname-modif { 
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end; 
    }
    .firstname-modif { 
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .titre-mail-modif { 
        grid-area: 3 / 1 / 4 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .mail-modif { 
        grid-area: 4 / 1 / 5 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .titre-addressStreet-modif { 
        grid-area: 5 / 1 / 6 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .addressStreet-modif { 
        grid-area: 6 / 1 / 7 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .titre-addressZip-modif { 
        grid-area: 7 / 1 / 8 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .addressZip-modif { 
        grid-area: 8 / 1 / 9 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .titre-addressCity-modif { 
        grid-area: 7 / 2 / 8 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end; 
    }
    .addressCity-modif { 
        grid-area: 8 / 2 / 9 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .titre-phone-modif { 
        grid-area: 9 / 1 / 10 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .phone-modif { 
        grid-area: 10 / 1 / 11 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .titre-date-modif { 
        grid-area: 9 / 2 / 10 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
     }
    .date-modif { 
        grid-area: 10 / 2 / 11 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .modif-mdp { 
        grid-area: 11 / 1 / 12 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

     }
    .modif-return { 
        grid-area: 12 / 1 / 13 / 2;;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .modif-submit { 
        grid-area: 12 / 2 / 13 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
     
                                            
                                        /* ----- FORM ADMIN HOME ----- */
.homeAdmin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: var(--raisin);
    text-align: center;
    }
    
    .titre-home-admin { 
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .customer-home-management { 
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .commande-home-admin { 
        grid-area: 3 / 1 / 4 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .historical-home-admin { 
        grid-area: 4 / 1 / 5 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .product-home-management { 
        grid-area: 5 / 1 / 6 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .modif-home-admin { 
        grid-area: 6 / 1 / 7 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .retour-accueil-admin { 
        grid-area:  7 / 2 / 8 / 3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }
    .deco-home-admin { 
        grid-area: 7 / 1 / 8 / 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
     }

                                        /* ----- LISTING CLIENT ----- */

.list_client {
    border-collapse: collapse;
    border: 3px solid var(--raisin);
    width: 800px ;
    margin-left: auto ;
    margin-right: auto ;
}
.list_client thead th {
    background-color: var(--raisin);
    color : var(--green);
    border-collapse: collapse;
    border: solid 3px var(--raisin);
}


.list_client tbody td {
    background-color: var(--green);
    color : var(--raisin);
    border-collapse: collapse;
    border: 3px solid var(--raisin);
}

.list_client tbody tr:hover td {
    background-color: var(--raisin);
    color : var(--green);
    cursor: pointer;
}

                                        /* ----- VIEW CUSTOMER LIST ----- */
.listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}
    
    .list { 
        grid-area: 1 / 1 / 2 / 2;
        border-right: 2px solid var(--raisin) ;
        padding-right: 10px;

    }
    .modif-customer-by-admin { 
        grid-area: 1 / 2 / 2 / 3;
        border-left: 2px solid var(--raisin);
        padding-left: 10px;
    }


.modif-customer-by-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    color : var(--raisin);
    }
    
    .titreModifByAdmin { 
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
     }
    .titre-firstname-modifByAdmin { 
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .firstname-modifByAdmin { grid-area: 3 / 1 / 4 / 2; }
    .titre-lastname-modifByAdmin { 
        grid-area: 2 / 2 / 3 / 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .lastname-modifByAdmin { grid-area: 3 / 2 / 4 / 3; }
    .titre-phone-modifByAdmin { 
        grid-area: 4 / 1 / 5 / 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .phone-modifByAdmin { grid-area: 5 / 1 / 6 / 2; }
    .titre-date-modifByAdmin { 
        grid-area: 4 / 2 / 5 / 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .date-modifByAdmin { grid-area: 5 / 2 / 6 / 3; }
    .titre-email-modifByAdmin { 
        grid-area: 6 / 1 / 7 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .email-modifByAdmin { grid-area: 7 / 1 / 8 / 3; }
    .titre-addressStreet-modifByAdmin { 
        grid-area: 8 / 1 / 9 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .addressStreet-modifByAdmin { grid-area: 9 / 1 / 10 / 3; }
    .titre-addressZip-modifByAdmin { 
        grid-area: 10 / 1 / 11 / 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .addressZip-modifByAdmin { grid-area: 11 / 1 / 12 / 2; }
    .titre-addressCity-modifByAdmin { 
        grid-area: 10 / 2 / 11 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .addressCity-modifByAdmin { grid-area: 11 / 2 / 12 / 3; }
    .titre-roleUser-modifByAdmin { 
        grid-area: 12 / 1 / 13 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
     }
    .roleUser-modifByAdmin { 
        grid-area: 13 / 1 / 14 / 3;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .modifByAdmin { 
        grid-area: 14 / 1 / 15 / 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .deleteByAdmin{
        grid-area: 14 / 2 / 15 / 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    
                                        /* ----- VIEW ADMIN PRODUCT MANAGEMENT -----*/

.adminProductManagement {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    color:var(--raisin);
    }
    
    .titre-admin-product-management { 
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .add_new_article_admin_management { 
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add_quantity_article_admin_management { 
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
     }
    .retour-accueil-admin-product-management { 
        grid-area: 4 / 1 / 5 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
     }
                                                                                  
    
    
                                            
                                        /* ----- FORM ARTICLES ----- */




                                        /* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 1000px) {

    /* TEMPLATE */

    body {
        position: relative;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 200px;
        min-height: 100vh;
        height: auto;
    }

    header {
        display: none;
    }

    .banniere {
        display: none;
    }

    nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 80px;

        background-color: var(--raisin);
        z-index: 100;
    }

    .icone-nav {
        width: 45px;
        height: 45px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icone-nav>a {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        /* border: 1px solid #fff; */
    }

    .icone-nav>a>svg {
        filter: drop-shadow(2px 2px 4px #000);
        width: 60px;
        height: 60px;
    }

    .produits {
        display: none;
    }

    .recherche {
        display: none;
    }


    main {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        min-height: 100vh;
        padding: 0;
        z-index: 0;
    }

    footer {
        grid-column: 1 / 7;
        grid-row: 2 / 3;

        align-items: flex-start;
    }

    .footer1 {
        display: none;
    }

    .footer2 {
        width: 100%;

        align-items: flex-start;
    }

    .footer2>p {
        margin-top: 40px;
    }

    .footer3 {
        display: none;
    }
                                        /* ----- RESPONSIVE LOGIN -----*/
    .login {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }    
      
    .log-connex  { 
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center; 
        align-items: flex-end;
    }
    .connexion { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    .log-inscri { 
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        justify-content: center; 
        align-items: flex-end; 
    }
    .inscription { 
        grid-area: 4 / 1 / 5 / 2; 
    } 

                                        /* ----- RESPONSIVE INSCRIPTION ----- */
        .loginInscri {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        }
        
        .titreInsc { 
            grid-area: 1 / 1 / 2 / 3; 
        }
        .titre-firstname-inscri { 
            grid-area: 2 / 1 / 3 / 2; 
        }
        .firstname-inscri { 
            grid-area: 3 / 1 / 4 / 2; 
        }
        .titre-lastname-inscri { 
            grid-area: 2 / 2 / 3 / 3; 
        }
        .lastname-inscri { 
            grid-area: 3 / 2 / 4 / 3; 
        }
        .titre-phone-inscri { 
            grid-area: 4 / 1 / 5 / 2; 
        }
        .phone-inscri { 
            grid-area: 5 / 1 / 6 / 2; 
        }
        .titre-date-inscri { 
            grid-area: 4 / 2 / 5 / 3; 
        }
        .date-inscri { 
            grid-area: 5 / 2 / 6 / 3; 
        }
        .titre-email-inscri { 
            grid-area: 6 / 1 / 7 / 3; 
        }
        .email-inscri { 
            grid-area: 7 / 1 / 8 / 3;
        }
        .titre-passwd-inscri { 
            grid-area: 8 / 1 / 9 / 2; 
        }
        .passwd-inscri { 
            grid-area: 9 / 1 / 10 / 2; 
        }
        .titre-passwd2-inscri { 
            grid-area: 8 / 2 / 9 / 3; 
        }
        .passwd2-inscri { 
            grid-area: 9 / 2 / 10 / 3;
        }
        .titre-addressStreet-inscri{
            grid-area: 10 / 1 / 11 / 3;
        }
        .addressStreet-inscri { 
            grid-area: 11 / 1 / 12 / 3;
        }
        .titre-addressZip-inscri { 
            grid-area: 12 / 1 / 13 / 2; 
        }
        .addressZip-inscri { 
            grid-area: 13 / 1 / 14 / 2; 
        }
        .titre-addressCity-inscri { 
            grid-area: 12 / 2 / 13 / 3; 
        }
        .addressCity-inscri { 
            grid-area: 13 / 2 / 14 / 3; 
        }
        .inscri-return { 
            grid-area: 14 / 1 / 15 / 2; 
        }
        .inscri {
            grid-area: 14 / 2 / 15 / 3;
        }
         
                                        /* ----- RESPONSIVE HOME CUSTOMER ----- */
    .homeCustomer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px;
        text-align: center;
        }
        
        .titre-home { grid-area: 1 / 1 / 2 / 2; }
        .modif-home-customer { grid-area: 2 / 1 / 3 / 2; }
        .commande-home-customer { grid-area: 3 / 1 / 4 / 2; }
        .historical-home-customer { grid-area: 4 / 1 / 5 / 2; }
        .deco-home-customer { grid-area: 5 / 1 / 6 / 2; }

                                        /* ----- RESPONSIVE MODIF CUSTOMER ----- */
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(13, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }
        .modif-mdp { grid-area: 11 / 1 / 12 / 3; }
        .modif-submit { grid-area: 12 / 1 / 13 / 3; }
        .modif-return { grid-area: 13 / 1 / 14 / 3; } 
}



/* ----- RESPONSIVE SVG ----- */

@media screen and (max-width: 350px) {
    .icone-nav>a>svg {
        width: 40px;
        height: 40px;
    }
}